{% load static %}
<div class="marquee-banner">
    <div class="marquee-track">

        <div class="marquee-item">
            <img
                src="{% static 'img/logoui.png' %}"
                alt="Logo Universitas Indonesia"
            >

            <span>INFORMATION SYSTEM</span>

            <span class="marquee-dot">✦</span>

            <span>UNIVERSITAS INDONESIA</span>
        </div>

        <div class="marquee-item">
            <img
                src="{% static 'img/logoui.png' %}"
                alt="Logo Universitas Indonesia"
            >

            <span>INFORMATION SYSTEM</span>

            <span class="marquee-dot">✦</span>

            <span>UNIVERSITAS INDONESIA</span>
        </div>

        <div class="marquee-item">
            <img
                src="{% static 'img/logoui.png' %}"
                alt="Logo Universitas Indonesia"
            >

            <span>INFORMATION SYSTEM</span>

            <span class="marquee-dot">✦</span>

            <span>UNIVERSITAS INDONESIA</span>
        </div>

        <div class="marquee-item">
            <img
                src="{% static 'img/logoui.png' %}"
                alt="Logo Universitas Indonesia"
            >

            <span>INFORMATION SYSTEM</span>

            <span class="marquee-dot">✦</span>

            <span>UNIVERSITAS INDONESIA</span>
        </div>
    </div>
</div>